body {
  font-family: "Roboto", sans-serif;
  color: #6c648d;
}

ul {
  margin: 0 auto;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  border: solid 1px #919ca5;
  border-radius: 4px;
  max-width: 55%;
}

.search-bar {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 80%;
  padding: 2px;
}

.btn {
  margin-top: 20px;
}

.top-row {
  font-weight: 500;
}

.card-body {
  padding-bottom: 0;
}

.current-city-card {
  text-align: center;
}

.current-city-card .active {
  color: #6c648d;
  cursor: default;
}

#current-city {
  font-size: 30px;
}

#current-city-description {
  font-size: 20px;
  position: relative;
  top: -15px;
}

#current-city-description:first-letter {
  text-transform: capitalize;
}

#current-city-temp {
  font-size: 40px;
}

.units {
  position: relative;
  top: -52px;
  right: -30px;
}

#current-city-icon {
  font-size: 35px;
  position: relative;
  top: -20px;
}

#current-date-time {
  font-size: 22px;
  text-align: left;
  position: relative;
  top: 20px;
  left: 45px;
}

.stats {
  font-size: 16px;
  text-align: right;
  position: relative;
  top: 20px;
  right: 45px;
}

.forecast {
  line-height: 24px;
  padding: 26px;
  text-align: center;
  margin-top: -20px;
}

.forecast-date {
  font-size: 18px;
}

.forecast-temp-min {
  opacity: 0.6;
}

#tag {
  position: relative;
  left: 302px;
}
